<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<head>
    <meta charset="utf-8" />
    <title>日向坂で会いましょう</title>
</head>
<body>
<canvas id="myChart"></canvas>
<script>
    const dare = {{ 'Da-reyorimotakak' }}
    const imyo = {{ 'Im_yoncharu823' }}
    const imak = {{ 'Im_akiiiiisutani' }}
    const imde = {{ 'Im_Denchan' }}
    const imko = {{ 'Im_Kopanosuke' }}
    const iman = {{ 'Imanimite_iro' }}
    const awaj = {{ 'awajima620' }}
    const awap = {{ 'Awappu1226' }}
    const tige = {{ 'tiger-mam' }}
    const imme = {{ 'Im_Mechimpo' }}

    const ctx = document.getElementById("myChart");
    var myScatterChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Da-reyotimotakak',
                    data: dare,
                    borderColor: "rgb(255,30,10)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'Im_yoncharu823',
                    data: imyo,
                    borderColor: "rgb(233,30,99)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'Im_Denchan',
                    data: imde,
                    borderColor: "rgb(156,39,176)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'tiger-mam',
                    data: tige,
                    borderColor: "rgb(103,58,183)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'Awappu1226',
                    data: awap,
                    borderColor: "rgb(63,81,181)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'Imanimite_iro',
                    data: iman,
                    borderColor: "rgb(3,169,244)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'Im_Kopanosuke',
                    data: imko,
                    borderColor: "rgb(0,150,136)",
                    backgroundColor: "rgba(0,0,0,0)"
                },

                {
                    label: 'Im_akiiiiisutani',
                    data: imak,
                    borderColor: "rgb(139,195,74)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'Im_Mechimpo',
                    data: imme,
                    borderColor: "rgb(255,235,59)",
                    backgroundColor: "rgba(0,0,0,0)"
                },
                {
                    label: 'awajima620',
                    data: awaj,
                    borderColor: "rgb(255,152,0)",
                    backgroundColor: "rgba(0,0,0,0)"
                }
            ],
        },
        options:{
            title: {
                display: true,
                text: 'オペレーター'
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'キルレ'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 2,
                        stepSize: 0.25
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '勝利敗北比'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 2,
                        stepSize: 0.25
                    }
                }]
            }
        }
    });
</script>
<ul>
    <li><a href="/">Top</a></li>
</ul>
</body>
</html><!DOCTYPE html>
